@import "../../../styles/variables.scss";

.button {
  padding: 10px;
  background-color: $brand-color;
  color: $text-on-brand-color;
  min-width: $form-submit-btn-width;
  font-size: $default-font-size;
  border-radius: 2px;
  letter-spacing: .02rem;
  text-transform: uppercase;

  &.small {
    min-width: 120px;
  }

  &:disabled {
    background-color: $brand-color-lighter;

    &:hover {
      opacity: 1;
      cursor: not-allowed;
    }
  }
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}
