{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 0.25%, ie 11, not dead",
          "node": 10
        }
      }
    ],
    "@babel/react"
  ],
  "env": {
    "test": {
      "presets": ["@babel/env", "@babel/react"]
    }
  }
}
