$brand-color: #3f5efb !default;
$brand-color-lighter: #b3bffd !default;
$brand-color-lightest: #d8defe !default;

$brand-color-2: #fc5c7d !default;
$brand-color-2-lighter: #e55 !default;
$brand-color-2-lightest: #fda7b9 !default;

$footer-bg: #000 !default;
$notify-info: #2f96b4 !default;
$notify-error: #c83522 !default;
$notify-success: #51a351 !default;
$notify-warning: #f89406 !default;

$icon-size: 14px !default;
$default-font-size: 1rem !default;
$text-on-brand-color: #fff;
$form-fields-width: 260px
